on: [push]
name: Rust tests


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Check out code
      uses: actions/checkout@v3

    - name: Test
      run: cargo test

    - name: Build
      run: cargo build --release